
*.pyc
*.pdf
*.aux
*.bcf
*.idx
*.log
*.xml
*.out
*.gz
*.xls
scripts/Competences/Eleves_PSIe_2022_2023.xlsx
scripts/BDD_2022_2023.db
scripts/evaluation/BDD_2022_2023.db
scripts/2022_2023/
scripts/compil/f1.tex
scripts/compil/f1.tex
scripts/compil/f1.tex
scripts/Competences/MPSI_Info_DS_01.xlsx
